/*blue color: 6763FF*/
/*yellow color: FEC739*/
/*dark grey/*: 173143 */



*{
	padding: 0px;
	margin:0px;
}


header{
	right: 0;
	left: 0;
	border-bottom: 1px solid #F6F6F6;
	padding: 20px;
	font-family: 'Roboto Mono';
	font-weight: 700;
	font-size: 2.2vh;
	text-align: left;
}

.banner-link{
	color: #6763FF;
	text-decoration: none;
	font-weight: 700;
}

.banner-link:hover{
	text-decoration: underline;
}


.header-title-work{
	padding-right: 30px;
	color:#9d9d9d;
	text-decoration: none;
	opacity: 0.5;
	transition: color 0.2s
}

.header-title-about{

	padding-right: 30px;
	color: #173143;
	text-decoration: none;
}

.header-title-work:hover {
	color: #6763FF;
	opacity: 1;

}

.card-image{
	margin-top: 50px;
	width: 100%;
	height: 400px;
	background-color: #fafafa;
}

.card{
	background-color: blue;
}


.about-body{
	margin-bottom: 30px;
	font-family: 'Cardo',serif;
	font-size: 1.5vw;
	line-height: 2.5vw;
	color: #666;
	margin-top: 5px;
}


.text-area{
	margin-top: 35px;
}

.footer{
	position: absolute;
	right: 0;
	left: 0;
	background-color: #6763FF;
}

.about-body-stalk{
	font-family: 'Roboto Mono';
	color: white;
	font-size: 1vw;
	font-weight: 300;
	line-height: 6vw;
	/*opacity: 0.5*/

}

.banner-link-footer{
	color: white;
	text-decoration: none;
	font-weight: 500;
}

.banner-link-footer:hover{
	text-decoration: underline;
}


@media only screen and (max-width: 600px) {
		

		.about-body{
			font-size: 4.5vw;
			line-height: 7vw;
			
		}

		.about-body-stalk{
			font-size: 3.2vw;
		}


		.footer{
			padding: 15px;
		}

	} 

