/*blue color: 6763FF*/
/*yellow color: FEC739*/
/*dark grey/*: 173143 */



*{
	padding: 0px;
	margin:0px;
}


header{
/*	position: absolute;
*/	right: 0;
	left: 0;
	border-bottom: 1px solid #F6F6F6;
	padding: 20px;
	font-family: 'Roboto Mono';
	font-weight: 700;
	font-size: 2.2vh;
	text-align: left;
}



.header-title-work{
	padding-right: 30px;
	color:#9d9d9d;
	text-decoration: none;
	opacity: 0.5;
	transition: color 0.2s
}

.header-title-about{

	padding-right: 30px;
	color: #173143;
	text-decoration: none;
}

.header-title-work:hover {
	color: #6763FF;
	opacity: 1;

}

.card-image{
	margin-top: 50px;
	width: 100%;
	height: 400px;
	background-color: #fafafa;
}

.card{
	background-color: blue;
}


.about-body{
	font-family: 'Cardo';
	font-size: 1.3vw;
	line-height: 3vw;
	margin-bottom: 30px;
	font-weight: 500;
}


.text-area{
	margin-top: 35px;
}

p{
	

}

.banner-link{
	color: #6763FF;
	text-decoration: none;
}