/*blue color: 6763FF*/
/*yellow color: FEC739*/
/*dark grey/*: 173143 */

@font-face{
	font-family: bonkers;
	src: url('Bonkers.otf');
}

*{
	padding: 0;
	margin: 0;

}





/*//////////////////////////////////////////////*/
/*//////////////////////////////////////////////*/
/*HEADER STARTS*/
/*//////////////////////////////////////////////*/
/*//////////////////////////////////////////////*/
header{
	/*position: absolute;*/
	right: 0;
	left: 0;
	border-bottom: 1px solid #F6F6F6;
	font-family: 'Roboto Mono';
	font-weight: 700;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 15px;

}


.header-title-work{
	/*padding-right: 30px;*/
	color: #173143;
	text-decoration: none;
	/*margin: 0px;*/
	padding-left: 0px;

}

.header-title-about{
	/*padding-right: 30px;*/
	color:#9d9d9d;
	text-decoration: none;
	opacity: 0.5;
	transition: color 0.2s;
	text-align: left;
	: 0px;
}

.header-title-about:hover {
	color: #6763FF;
	opacity: 1;
	text-decoration: underline;
}












/*//////////////////////////////////////////////*/
/*//////////////////////////////////////////////*/
/*TOP BANNER AREA STARTS*/
/*//////////////////////////////////////////////*/
/*//////////////////////////////////////////////*/

.bg-container{
	/*background-color: #6763FF;*/
	padding-top: 14vh;
	padding-bottom: 14vh;
}

.heading-1{
	font-family: 'Montserrat';
	font-weight: 700;
	color: #6763FF;
	font-size: 3.8vw;
	line-height: 5.5vw;
}

.banner-para{
	font-family: 'Roboto Mono', serif;
	color: #173143;
	font-size: 16px;
	font-weight: 700;
	margin-top: 30px;
	margin-bottom: 20px;
}

.banner-work{
	font-family: 'Roboto Mono', serif;
	color: #173143;
	font-size: 16px;
	font-weight: 700;
	margin-top: 30px;
	margin-bottom: 30px;
}

.body-link{
	color:#6763FF;
	text-decoration: none;
}

.body-link:hover{
	text-decoration: underline;
}









/*//////////////////////////////////////////////*/
/*//////////////////////////////////////////////*/
/*CARD STYLING STARTS*/
/*//////////////////////////////////////////////*/
/*//////////////////////////////////////////////*/


.card{
	margin-bottom: 50px;
	box-shadow: 0px 0px 15px 0px rgba(0,0,0, 0);
	transition: box-shadow 0.2s ease-out;
	border-radius: 10px;
/*	padding-right: 15px;
padding-left: 15px;*/
}

.card-internal{
	padding:20px;
	box-shadow: 0px 0px 15px 0px rgba(0,0,0, 0);
	transition: box-shadow 0.2s ease-out;
	border-radius: 10px;
	background-color: white;
	min-height: 227px;
	border: 1px solid #efefef; 
}


.card-image{
	width: 50px;
	height: 50px;
	margin-bottom: 10px;
	border-radius: 4px;
	
}

.card-heading{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 1.8vw;
	color: #666;
	transition: color 0.2s ease-out;
	margin-bottom: 10px;
}


.card:hover .card-heading{
	color:#6763FF;
}

.card:hover .card-internal{
	box-shadow: 0px 0px 20px 0px rgba(0,0,0, 0.1);
}





.card-body{
	font-family: 'Cardo', serif;
	font-size: 1.4vw;
	line-height: 2vw;
	font-weight: 500;
	color: #777;
	margin-top: 5px;
	margin-bottom: 5px;
}

.work-space {
	padding-top: 70px;
	padding-bottom: 0px;
}

.about-body{
	font-family:  'Montserrat', sans-serif;
	font-size: 1.5vw;
	font-weight: 500;
	color: #929292;
	margin-bottom: 4vh;
}








/*//////////////////////////////////////////////*/
/*//////////////////////////////////////////////*/
/*ABOUT SECTION STARTS*/
/*//////////////////////////////////////////////*/
/*//////////////////////////////////////////////*/



.banner-link{
	color:white;
	font-weight: 500;
	text-decoration: none;
	transition: text-decoration 0.2s ease-out;
	/*opacity: 0.5;*/
}

.banner-link:hover {
	text-decoration: underline;
}



.first{
	/*margin-bottom: 20px*/
}



.card:link{
	text-decoration: none;
	margin: 0px
	padding: 0px;
}

.footer-class{
	bottom: 0px;
	background-color: #6763FF;
	margin-top: 50px;
	padding-bottom: 20px;
	padding-top: 20px;
}

.about-body-stalk{
	font-family: 'Roboto Mono';
	color: white;
	font-size: 1vw;
	font-weight: 300;
	/*line-height: 6vw;*/
	/*opacity: 0.5*/

}


/*/////////////////////////*/
/*css for small screens < 600px*/
/*//////////////////////////*/
@media only screen and (max-width: 600px) {

	.heading-1{
		font-size: 8.5vw;
		line-height: 11vw;
	}

	.heading-2{
		font-size: 7vw;
	}

	.card-heading{
		font-size: 5.5vw;

	}

	.card-body{
		font-size: 4.5vw;
		line-height: 6.5vw;
	}

	.about-body{
		font-size: 4.5vw;
		line-height: 6.5vw;

	}

	.about-body-stalk{
		font-size: 3.2vw;
	}

	.header-title{
		padding-right: 0px;
	}

	.footer{
		padding: 15px;
	}


} 

/*//////////////////////////////////*/
/*css for extra large screens > 1330*/
/*//////////////////////////////////*/
@media only screen and (min-width: 1200px) {
	.heading-1{
		font-size: 48px;
		line-height: 70px;
	}

	.card-heading{
		font-size: 23px;

	}

	.card-body{
		font-size: 18px;
		line-height: 25px;
	}
}



/*/////////////////////////*/
/*FADE IN ANIMATION STARTS HERE*/
/*//////////////////////////*/

@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

.fade-in-class{

	-webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 1s; /* Firefox < 16 */
	-ms-animation: fadein 1s; /* Internet Explorer */
	-o-animation: fadein 1s; /* Opera < 12.1 */
	animation: fadein 1s;
}













