*{
	padding: 0px;
	margin: 0px;
}	





header{
	/*position: absolute;*/
	padding-top: 20px;
	padding-bottom: 20px;
	right: 0;
	left: 0;
	border-bottom: 1px solid #F6F6F6;
	font-family: 'Roboto Mono';
	font-weight: 700;
	font-size: 2.2vh;
	text-align: left;
}

img{
	width:100%;
	margin-top: 30px;
	margin-bottom: 10px;
}

/*.banner-image{
	margin-top: 0px;
}*/

.image-caption {
	font-family: 'Roboto Mono';
	font-size: 13px;
	color: #777;
	margin-bottom: 60px;
}

.contatiner-fluid{
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.no-padding{
	padding-left: 0px !important;
	padding-right: 0px !important;
}


.header-title-work{
	color: #173143;
	text-decoration: none;
}

.header-title-about{
	color:#9d9d9d;
	text-decoration: none;
	opacity: 0.5;
	transition: color 0.2s
}

.header-title-about:hover {
	color: #6763FF;
	opacity: 1;

}


.heading-1{
	font-family: 'Montserrat';
	font-weight: 700;
	color: #6763FF;
	font-size: 3.5vw;
	line-height: 5.5vw;
	margin-bottom: 30px;
	margin-top: 30px;
}

.heading-2{
	font-family: 'Montserrat';
	font-weight: 700;
	color: #444;
	font-size: 2.4vw;
	line-height: 5.5vw;
	margin-top: 40px;
}

.heading-3{
	font-family: 'Montserrat';
	font-weight: 700;
	color: #444;
	font-size: 1.8vw;
	line-height: 5.5vw;
	margin-bottom: 0px;
}


@media only screen and (max-width: 600px) {
	.heading-1{
		font-size: 8.5vw;
		line-height: 11vw;
	}

	.heading-2{
		font-size: 6.5vw;
		line-height: 8vw;
		margin-bottom: 20px;
	}


	.heading-3{
		font-size: 4.5vw;
		line-height: 7vw;
		margin-bottom: 20px;
	}
}


.bg-container{
	/*background-color: #6763FF;*/
	padding-top: 14vh;
	padding-bottom: 14vh;
}


.banner-image{
	width: 100%;
	background-color: #fafafa;
	margin-top: 0px;
	padding: 0px;
	margin-bottom: 10px;

}



.body-text{
	font-family: 'Cardo', serif;
	font-size: 1.6vw;
	line-height: 2.8vw;
	font-weight: 500;
	color: #555;
	margin-top: 5px;
	margin-bottom: 20px;
}

.body-text-bold{
	font-family: 'Cardo', serif;
	font-size: 1.6vw;
	line-height: 2.6vw;
	font-weight: 700;
	color: #555;
	margin-top: 5px;
	margin-bottom: 25px;
}



@media only screen and (max-width: 600px) {
	.body-text{
		font-size: 4.7vw;
		line-height: 6.8vw;
	}


	.body-text-bold{
		font-size: 4.7vw;
		line-height: 6.8vw;
	}
}

.body-text-list{
	margin-right: 20px;
}


.footer{
	position: absolute;
	right: 0;
	left: 0;
	background-color: #6763FF;
	margin-top: 50px;
}

.about-body-stalk{
	font-family: 'Roboto Mono';
	color: white;
	font-size: 1vw;
	font-weight: 300;
	line-height: 6vw;
	/*opacity: 0.5*/

}

.banner-link{
	color:white;
	font-weight: 500;
	text-decoration: none;
	transition: text-decoration 0.2s ease-out;
	/*opacity: 0.5;*/
}

.banner-link:hover {
	text-decoration: underline;
}


@media only screen and (max-width: 600px) {
	.footer{
		padding: 15px;
	}

	.about-body-stalk{
		font-size: 3.2vw;
	}
}
